.grid {
  margin-top: 10px;
}
.row {
  justify-content: center;
}
.stop {
  touch-action: manipulation;
}

.strike {
  text-decoration: line-through;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(190, 247, 247, 0.705);
  display: inline-block;
  touch-action: manipulation;
}

.animated-node {
  animation-name: searching;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes searching {
  from {
    background-color: rgba(255, 0, 191, 0.5);
  }
  to {
    background-color: rgba(4, 0, 255, 0.5);
  }
}

.animated-path {
  animation-name: path;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes path {
  from {
    background-color: rgba(0, 255, 115, 0.8);
  }
  to {
    background: url(./resources/send.svg);
    background-size: contain;
    background-color: rgba(0, 247, 255, 0.8);
  }
}

.start {
  background: url(./resources/space-ship.svg);
  background-size: cover;
}

.finish {
  background: url(./resources/planet.svg);
  background-size: cover;
}

.wall {
  background-color: rgb(51, 47, 47);
}

.navbar-collapse {
  justify-content: center;
}
